.mission-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.mission-item {
    flex: 1 1 200px;
    background-color: color-mix(in srgb, var(--main-color) 10%, transparent);
    padding: 20px;
    border-radius: 8px;
}

.mission-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}