/* Message */
.message-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px 70px;
  flex-wrap: wrap;
}

.flex-6 {
  flex: 6;
  min-width: 300px;
}
.flex-4 {
  flex: 4;
  min-width: 200px;
}

.message-image img {
  width: 100%;
  border-radius: 5px;
}


.message-text h2 {
  color: var(--main-color);
  margin-bottom: 1rem;
}


/* Jobs */
.card {
  background: #fff;
  border-radius: 5px;
  padding: 2rem 4rem 2rem;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.job-schedule {
    display: flex;
    gap: 15px 20px;
    flex-wrap: wrap;
}

.schedule-item {
    flex: 1;
    min-width: 300px;
    background: #f8f9fc;
    padding: 20px 40px 20px;
    border-radius: 5px;
}

.schedule-title {
  font-weight: 600;
  margin: 0;
}

.schedule-note {
  width: 100%;
  margin: 0;
}


ul.custom-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.custom-list li {
  line-height: 1.4;
  display: grid;
  padding: 0;
  margin: 0;
}
ul.custom-list li::before {
  content: "-";
  display: inline-block;
}

.schedule-list li{
  grid-template-columns: 20px 100px 1fr;
}
.jobs-list li {
  grid-template-columns: 50px 1fr;
}
.jobs-list li::before {
  margin-left: 20px;
}




/* Interview */
.interview-container {
  display: flex;
  flex-direction: column;
  gap: 3rem 2rem;
}

.interview-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px 3rem;
}

/* テキスト部分 */
.interview-text {
  flex: 1;
}

.interview-text .comment {
  font-size: 1rem;
  color: #444;
  line-height: 2.2;
}

/* 画像部分 */
.interview-image {
  position: relative;
  flex-shrink: 0;
  flex: 0 0 300px;
}

.interview-image img {
  height: 200px;
  aspect-ratio: 1.6;
  border-radius: 3px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.interview-image .name {
  position: absolute;
  bottom: 0px;
  left: -20px;
  background: #fff;
  padding: 0.6rem 3rem;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* 交互レイアウト（2人目を反転） */
.interview-card:nth-child(even) {
  flex-direction: row-reverse;
}


@media (max-width: 768px) {
  .interview-card:nth-child(even),
  .interview-card {
    flex-direction: column-reverse;
  }

  .message-content {
    align-items: center;
  }
  .message-image {
    width: 70%;
  }

  .interview-image {
    display: block;
    flex: none;
    max-width: 400px;
  }
  .sec-padding {
    padding: 2rem 0 2rem;
  }
}








/* Info */
.recruit-info table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  overflow: hidden;
}

.recruit-info th, .recruit-info td {
  border-bottom: 1px solid #ccc;
  padding: 15px;
  text-align: left;
}

.recruit-info th {
  min-width: 95px;
  width: 25%;
  /* background: rgba(91, 110, 171, 0.1); */
  background-color: color-mix(in srgb, var(--main-color) 10%, transparent);
  color: var(--main-color);
}






/* Responsive */
@media (max-width: 768px) {
  .sec-title {
    text-align: center;
  }
  .sec-container {
    padding: 0 5%;
  }
  .card {
    padding: 2rem 2rem 2rem;
  }
  .job-schedule {
    flex-direction: column;
  }
  .schedule-item {
    min-width: 0;
    padding: 10px 20px 10px;
  }

  .message-content {
    flex-direction: column;
  }
}