/* 電話でのお問い合わせ */
.phone {
    margin-block: 5rem;
}

.phone__background {
    max-width: 800px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--main-color);
}

.phone__title {
    padding: 3rem 0rem 2rem;
    font-size: 2rem;
    margin: 0;
    line-height: 1;
}

.phone__number {
    padding: 3rem 2rem 0rem;
    font-size: 2.5rem;
    margin: 0;
    color: var(--main-color);
    font-weight: 500;
    line-height: 1;
}

.phone_message {
    line-height: 1;
    margin-bottom: 3rem;
}

.phone__border {
    width: 7rem;
    height: 1px;
    background-color: var(--main-color);
}





/* メールでのお問い合わせ */
.contact-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.contact-form__group,
.contact-form__btnare {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.contact-form__group {
    align-items: flex-start;
}
.contact-form__btnare {
    align-items: center;
}


.contact-form__label {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.contact-form__label .contact-form__required {
    color: #fff;
    background-color: #ff4545;
    font-size: 0.8rem;
    padding: 3px 10px;
    border-radius: 3px;
    margin-left: 8px;
}

.contact-form__input, .contact-form__textarea {
    width: 100%;
    border: 1px solid var(--text-color);
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
    color: #777;
}

.contact-form__input {
    height: 3rem;
}

.contact-form__textarea {
    resize: vertical;
    min-height: 150px;
    max-height: 1000px;
    line-height: 1.5;
    color: var(--text-color);
}

.contact-form__button {
    background-color: var(--main-color);
    color: #fff;
    font-size: 1rem;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form__button:hover {
    background-color: color-mix(in srgb, var(--main-color) 70%, transparent);
}


#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
#error-name,
#error-company,
#error-email,
#error-phone,
#error-message {
    color: #e60000;
    margin: 3px 0 0 0;
}



@media (max-width: 768px) {
    .phone__background {
        width: 80%;
    }

    .phone__title,
    .phone__number {
        font-size: 1.5rem;
    }
    .phone_message {
        font-size: 0.8rem;
    }
    .contact-form {
        padding: 20px 0 20px;
    }
}







/* ======= 確認モーダル ======= */
#contact__overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

#confirmModal {
  background: #fff;
  padding: 25px 30px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  flex-direction: column;
}

.contact__confirm_msg1 {
    font-weight: 500;
    font-size: 1.3rem;
}
.contact__confirm_msg1,
.contact__confirm_msg2 {
  margin-top: 5px;
  text-align: center;
}

#confirm-message {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 0.5rem;
  padding: 0.5rem;
  white-space: pre-wrap;
}

.contact__confirm-item {
  margin: 20px 0;
  word-break: break-word;
}

.contact__confirm_title {
    width: 70px;
}
.contact__confirm-result {
    text-align: center;
    margin: 1.3rem 0 1.3rem;
}

.contact__confirm-item span {
  display: inline-block;
  font-weight: bold;
}

.contact__confirm-buttons {
  text-align: center;
  margin-top: 20px;
}

.contact__confirm-return-btn,
.contact__confirm-submit-btn {
  margin: 0 20px;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: background 0.3s ease;

}

.contact__confirm-return-btn {
  background-color: #ddd;
  color: #000;
}

.contact__confirm-submit-btn {
  background-color: var(--main-color);
  color: #fff;
}

.contact__confirm-return-btn:hover {
  background-color: #333;
  color: #fff;
}
.contact__confirm-submit-btn:hover {
  background-color: color-mix(in srgb, var(--main-color) 70%, transparent);
  /* color: var(--main-color); */
  font-weight: bold;
}







.policy {
  margin: 2rem 0 1rem;
}
.policy__description {
  margin: 0;
  text-align: center;
}
.policy__1stdescription {
  margin-bottom: 2rem;
}
.policy__box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 1rem 1rem;
  height: 222px;
  overflow-y: auto;
  background: #f3f3f3;
  margin: 0.4rem 0 0;
}

.policy__title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.policy__text {
  margin: 0.5rem 0 0 0;
  padding-left: 1rem;
  font-size: 1rem;
}

.policy__subtexts {
  margin-top: 0.5rem;
}

.policy__subtext {
  margin: 0;
  font-size: 1rem; 
}
.policy__subtext::before {
  content: "・";
  margin-left: 1rem;
}

.policy__split {
  margin: 2.5rem 10% 2.5rem;
}

.policy__company {
  text-align: center;
  margin: 0;
}

.policy__2nddescription {
  text-align: center;
  margin-bottom: 2rem;
}

.policy__lastdescription {
  margin: 2rem 0 0 0;
  color: var(--main-color);
  text-align: center;
}